@inherits LayoutComponentBase

<header>
    <Navbar />
</header>

<div class="page">
    @*<div class="sidebar">
        <NavManu />
        </div>*@
    <div class="main">
        <div class="content px-5">
            @Body
        </div>
    </div>
</div>